@model IndexModel

<div class="topic-screen">
    <div class="topic-container">
        <div class="topic-header">
            <p class="topic-header-title">Stories by topics</p>
            <div class="topic-category">
                @foreach (var item in Model.topics.Items)
                {
                    <a class="topic-link" data-key-value="@item.Id">
                        <img src="@item.TopicIcon" alt="@item.TopicName" class=" d-none d-md-block d-md-none d-lg-block" />
                        <p>@item.TopicName</p>
                    </a>
                }
            </div>
        </div>
        <div class="topic-main d-none d-md-block d-md-none d-lg-block">
            <div class="topic-main-container d-flex">
                <img src="@Model.stories.Items[0].PhotoUrl" alt="beach" />
                <div class="topic-description-section">
                    <div class="topic-address-section d-flex">
                        <img src="~/assets/position-logo.svg" alt="logo" />
                        <p class="topic-address">@Model.stories.Items[0].Address</p>
                    </div>
                    <p class="topic-title">
                        @Model.stories.Items[0].Title
                    </p>
                    <p class="topic-description">
                        @Model.stories.Items[0].Description
                    </p>
                </div>
            </div>
        </div>
        <div class="topic-relate">
            <div class="topic-category-list">
                <div class="card topic-card border-0 d-block d-sm-none d-none d-sm-block d-md-none">
                    <div class="card-img-wrapper">
                        <img class="card-img-top topic-card-img-top" src="@Model.stories.Items[0].PhotoUrl" alt="Card image cap">
                        <div class="topic-card-svg-wrapper">
                            <img src="@Model.stories.Items[0].AwardIconUrl" alt="logo" />
                        </div>
                    </div>
                    <div class="topic-relate-address-section d-flex">
                        <img src="~/assets/position-logo.svg" alt="logo" />
                        <p class="topic-relate-address">@Model.stories.Items[0].Address</p>
                    </div>
                    <div class="card-body">
                        <p class="topic-relate-title">@Model.stories.Items[0].Title</p>
                    </div>
                </div>
                <p class="d-none now-topic-id">1</p>
                @foreach (var item in Model.stories.Items)
                {
                    var styleIcon = !string.IsNullOrEmpty(item.AwardName) ? "filter:invert(56%) sepia(88%) saturate(353%) hue-rotate(3deg) brightness(91%) contrast(84%) opacity(96%);" : "";
                    var styleText = !string.IsNullOrEmpty(item.AwardName) ? "color:#C09436" : "";
                    if (item.Id > 1)
                    {
                        <div class="card topic-card border-0">
                            <div class="card-img-wrapper">
                                <img class="card-img-top" src="@item.PhotoUrl" alt="Card image cap">
                                <div class="topic-card-svg-wrapper">
                                    <img src="@item.AwardIconUrl" alt="logo" />
                                    <p>@item.AwardName</p>
                                </div>
                            </div>

                            <div class="topic-relate-address-section d-flex">
                                <img src="~/assets/position-logo.svg" alt="logo" style="@styleIcon" />
                                <p class="topic-relate-address" style="@styleText">Quảng Nam, Việt Nam</p>
                            </div>
                            <div class="card-body">
                                <p class="topic-relate-title">@item.Title</p>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="topic-footer d-flex justify-content-center">
            <button class="button-topic-footer d-flex">
                <p>More stories like these</p>
                <img src="~/assets/right-arrow-sign.svg" alt="logo" />
            </button>
        </div>
    </div>
</div>
