@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@Html.Partial("_Carousel")
@Html.Partial("_Story")
@Html.Partial("_Topic")
@Html.Partial("_PlanTrip")
@Html.Partial("_About")
@Html.Partial("_Trending")
@Html.Partial("_TourPackages")
@Html.Partial("_NewLetter")
@*

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1>@Model.stories.Items.Count</h1>
</div>*@